nav {
  display: flex;
  padding: 2rem;
  align-items: center;
}

p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}

a + a {
  margin-left: 1rem;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

button {
  border: none;
}

.bold {
  font-weight: bold;
}

.left a[data-active="true"] {
  color: gray;
}
